/* content.component.css */
.content {
        /* margin-left: 220px; */
        background: aliceblue;
        /* width: 100%; */
        display: flex;
        justify-content: center;
       height: 500px;
        align-items: center;
}
.items{
      padding-bottom: 50px;
}