<div class="content">
<form [formGroup]="form">
    <div class="items">
        <label for="name">Name</label>
        <input type="text" formControlName="name">
    </div>
    <div>
        <label for="name">Email</label>
        <input type="text" formControlName="email">
    </div>
    <button (click)="submit()">Submit</button>
</form>
</div>

<!-- <div class="content">
    <h2>Main Content Area</h2>
    <div>
        <form [formGroup]="form">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" formControlName="name">
                <div *ngIf="this.form.get('name')?.hasError('required')">
                   Field name is required
                </div>
              <div *ngIf="this.form.get('name')?.hasError('required') && this.form.get('name')?.touched">
                    Field name is touched
                 </div> 
            </div>
            <div>
                <label for="mail">Email:</label>
                <input type="text" name="mail" formControlName="mail">
            </div>
        <button (click)="onSubmit()">Submit</button>
        </form>
        </div>
        
         -->
        <!-- <form [formGroup]="form">
            <div formArrayName="items">
              <div *ngFor="let item of form.get('items').controls; let i = index">
                <div [formGroupName]="i">
                  <label for="name">Name:</label>
                  <input type="text" id="name" name="name" formControlName="name">
                  <label for="quantity">Quantity:</label>
                  <input type="number" id="quantity" name="quantity" formControlName="quantity">
                  <button type="button" (click)="removeItem(i)">Remove</button>
                </div>
              </div>
            </div>
            <button type="button" (click)="addItem()">Add Item</button> -->
          <!-- </form> -->
          <!-- </div> -->
