/* nav.component.css */
nav {
    width: 200px;
    height: 100vh;
    background-color: #555;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #777;
}

nav a:hover {
    background-color: #777;
}
